---
// Layout a due colonne: sidebar (slot nominato) + contenuto principale (slot default)
---

<section class="mx-auto grid max-w-content gap-10 px-4 pb-16 lg:grid-cols-[250px_minmax(0,1fr)] lg:gap-12 lg:pb-24">
  <slot name="sidebar" />
  <div>
    <slot />
  </div>
</section>
