---
import { Image } from 'astro:assets'
import type { CompanyLogo } from '../../../types/homepage'
import Section from '../primitives/Section.astro'
import HorizontalFlex from '../primitives/HorizontalFlex.astro'

export interface CompanyLogoStripProps {
  logos: CompanyLogo[]
}

type Props = CompanyLogoStripProps

const { logos } = Astro.props
---

<Section bg="bg-brand-blue-dark" class="py-10">
  <HorizontalFlex gap="12" justify="center" align="center" class="flex-wrap">
    {
      logos.map((logo) => (
        <Image
          src={logo.image}
          alt={logo.alt}
          width={150}
        />
      ))
    }
  </HorizontalFlex>
</Section>
