---
import type { Testimonial } from '../../../types/homepage'
import SectionHeader from './SectionHeader.astro'
import TestimonialsGrid from './TestimonialsGrid.astro'

export interface Props {
  title: string
  testimonials: Testimonial[]
}

const { title, testimonials } = Astro.props
---

<section class="section-space bg-brand-blue-dark">
  <div class="layout-container">
    <SectionHeader title={title} titleColor="white" />

    <div class="mt-12">
      <TestimonialsGrid testimonials={testimonials} />
    </div>
  </div>
</section>
