---
import type { Testimonial } from '../../../types/homepage'
import SectionHeader from './SectionHeader.astro'
import TestimonialsGrid from './TestimonialsGrid.astro'
import Section from '../primitives/Section.astro'

export interface Props {
  title: string
  testimonials: Testimonial[]
}

const { title, testimonials } = Astro.props
---

<Section spacing="default" bg="bg-brand-blue-dark">
  <div class="layout-container">
    <SectionHeader title={title} titleColor="white" />

    <TestimonialsGrid testimonials={testimonials} class="mt-12" />
  </div>
</Section>
