---
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'

interface Props {
  entry: CollectionEntry<'homepage'>
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<main>
  <Content />
</main>
