---
---

<div class="bg-brand-blue-dark text-white text-sm">
  <div class="max-w-content mx-auto px-4 py-2 flex justify-end items-center gap-6">
    <a
      href="https://www.hypernode.com/nl/"
      class="hover:underline focus:outline-2 focus:outline-offset-2 focus:outline-white"
    >
      NL
    </a>

    <a
      href="https://auth.hypernode.com/login/"
      class="hover:underline focus:outline-2 focus:outline-offset-2 focus:outline-white"
    >
      Login
    </a>
  </div>
</div>
